/* line 1, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

* {
	margin: 0;
	box-sizing: border-box;
}


/* line 5, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

main {
	height: 100vh;
	width: 100%;
	background: #26ff79;
}


/* line 10, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

main #slidy-container {
	height: 100%;
	width: 100%;
}


/* line 14, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

main #slidy-container #slidy {
	height: 100%;
	width: 100%;
}


/* line 19, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

section {
	width: 100%;
	padding: 20px;
}


/* line 23, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

section h3 {
	padding: 15px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
}


/* line 31, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

section aside {
	width: 100%;
	display: flex;
	height: 50vh;
	justify-content: center;
	margin: 10px 0px;
}


/* line 38, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

section aside .item_1 {
	background: url("../images/item-1.png");
	background-size: contain;
	background-repeat: no-repeat;
}


/* line 43, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

section aside .item_2 {
	background: url("../images/item-2.png");
	background-size: contain;
	background-repeat: no-repeat;
}


/* line 48, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

section aside .item_3 {
	background: url("../images/item-3.png");
	background-size: contain;
	background-repeat: no-repeat;
}


/* line 52, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

section .box {
	height: 85%;
	width: 40%;
	background: rgba(190, 190, 190, 0.3);
	margin: 0px 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* line 61, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

section .box:hover {
	background-color: #cdffe0;
}


/* line 65, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

section nav {
	height: 100vh;
	width: 100%;
	padding: 30px 20px;
}


/* line 70, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

section nav .link {
	margin: 20px;
}


/* line 73, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

section nav h1 {
	font-size: 36px;
}


/* line 76, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

section nav h2 {
	padding: 6px;
}


/* line 78, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

section nav a {
	text-decoration: none;
	color: #606060;
}


/* line 82, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

section .form {
	margin: 40px 20px;
	width: 90%;
	height: auto;
}


/* line 87, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

section .form input {
	height: 40px;
	width: 500px;
	margin: 10px 0px;
	padding: 0px 15px;
	border-radius: 2px;
	border: 1px solid #cfcfcf;
}


/* line 95, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

section .form button {
	margin: 15px 0px;
	height: 44px;
	padding: 10px 15px;
	color: white;
	border: none;
	background-color: rgba(0, 178, 255, 0.75);
	box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.3);
}


/* line 104, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */

section .form button:hover {
	transform: translateY(-4px);
	transition: 1ms cubic-bezier(0.37, 0.04, 0.65, 0.96);
}

@media screen and (max-width: 600px) {
	/* line 112, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */
	main {
		height: 300px;
	}
	/* line 116, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */
	section aside {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
	/* line 122, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */
	section aside.second {
		flex-direction: column-reverse;
	}
	/* line 126, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */
	section .box {
		margin: 10px 0px;
		width: 100%;
	}
	/* line 133, C:/Users/Ravindra/Documents/GitHub/Bikes_project/sass/styles.sass */
	section .form input {
		width: 100%;
	}
}


/*# sourceMappingURL=styles.css.map */
